# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")
print(chipo)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

In [4]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 3. Name of the max valued product

In [ ]:
#float("$ 9.39".replace("$",''))

In [5]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

In [6]:
chipo["item_price"].max()

np.float64(44.25)

In [7]:
chipo[chipo['item_price'] == chipo['item_price'].max()]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 4. How many products cost more than $10.00?

In [8]:
chipo["unit_price"] = chipo["item_price"] /chipo["quantity"]

In [11]:
numero_productos = chipo.loc[chipo['unit_price'] > 10.00, "item_name"].nunique()
numero_productos
#print(f"Hay {numero_productos} productos que cuestan más de 10.00$")

25

### Step 4.1: Y cuántos pedidos se han hecho con un producto de más de 10$? Es lo mismo?

In [14]:
pedidos_producto = chipo[chipo['unit_price'] > 10.00]['order_id'].unique()

#Contamos cuántos pedidos únicos hay
numero_de_pedidos = len(pedidos_producto)

print(f"Se han hecho {numero_de_pedidos} pedidos con al menos un producto que cuesta más de 10.00$")

Se han hecho 787 pedidos con al menos un producto que cuesta más de 10.00$

In [15]:
pedidos_producto = chipo.loc[chipo['unit_price'] > 10.00, 'order_id'].unique()

#Contamos cuántos pedidos únicos hay
numero_de_pedidos = len(pedidos_producto)

print(f"Se han hecho {numero_de_pedidos} pedidos con al menos un producto que cuesta más de 10.00$")

Se han hecho 787 pedidos con al menos un producto que cuesta más de 10.00$

In [16]:
chipo[chipo['unit_price']>10]['order_id'].nunique()

787

### Step 4.2: Y cuántos pedidos se han hecho de más de 10$? Es lo mismo?

In [18]:
order_sum = chipo.groupby("order_id")["item_price"].sum()
order_sum

order_id
1       11.56
2       16.98
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: item_price, Length: 1834, dtype: float64

In [19]:
len(order_sum[order_sum>10])

1834

### Step 4.3: Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? Es lo mismo?

In [22]:
chipo[chipo['item_price']>10]["order_id"].nunique()

863

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [27]:
result = chipo[["item_name","unit_price"]]
print(result)
print()
resultado = chipo[["item_name","unit_price"]].rename(columns={'item_price':'unit_price'})
print(resultado)
resultado = resultado.drop_duplicates().reset_index()
resultado

                                  item_name  unit_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl        8.49
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

                                  item_name  unit_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl        8.49
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

     index                              item_name  unit_price
0        0           Chips and Fresh Tomato Salsa        2.39
1        1                                   Izze        3.39
2        2                       Nantucket Nectar        3.39
3        3  Chips and Tomatillo-Green Chili Salsa        2.39
4        4                           Chicken Bowl        8.49
..     ...                                    ...         ...
134   3989                          Chicken Salad        8.19
135   4235                           Chicken Bowl        8.50
136   4237                    Chips and Guacamole        4.25
137   4509                                  Chips        1.99
138   4510                          Barbacoa Bowl       11.49

[139 rows x 3 columns]

In [28]:
result["item_name"].nunique()

50

### Step 6. Sort by the name of the item

In [29]:
sorted(chipo['item_name'].unique())

['6 Pack Soft Drink',
 'Barbacoa Bowl',
 'Barbacoa Burrito',
 'Barbacoa Crispy Tacos',
 'Barbacoa Salad Bowl',
 'Barbacoa Soft Tacos',
 'Bottled Water',
 'Bowl',
 'Burrito',
 'Canned Soda',
 'Canned Soft Drink',
 'Carnitas Bowl',
 'Carnitas Burrito',
 'Carnitas Crispy Tacos',
 'Carnitas Salad',
 'Carnitas Salad Bowl',
 'Carnitas Soft Tacos',
 'Chicken Bowl',
 'Chicken Burrito',
 'Chicken Crispy Tacos',
 'Chicken Salad',
 'Chicken Salad Bowl',
 'Chicken Soft Tacos',
 'Chips',
 'Chips and Fresh Tomato Salsa',
 'Chips and Guacamole',
 'Chips and Mild Fresh Tomato Salsa',
 'Chips and Roasted Chili Corn Salsa',
 'Chips and Roasted Chili-Corn Salsa',
 'Chips and Tomatillo Green Chili Salsa',
 'Chips and Tomatillo Red Chili Salsa',
 'Chips and Tomatillo-Green Chili Salsa',
 'Chips and Tomatillo-Red Chili Salsa',
 'Crispy Tacos',
 'Izze',
 'Nantucket Nectar',
 'Salad',
 'Side of Chips',
 'Steak Bowl',
 'Steak Burrito',
 'Steak Crispy Tacos',
 'Steak Salad',
 'Steak Salad Bowl',
 'Steak Soft Tacos',
 'Veggie Bowl',
 'Veggie Burrito',
 'Veggie Crispy Tacos',
 'Veggie Salad',
 'Veggie Salad Bowl',
 'Veggie Soft Tacos']

In [59]:
chipo[["item_name"]].sort_values(by="item_name")

              item_name
3389  6 Pack Soft Drink
341   6 Pack Soft Drink
1849  6 Pack Soft Drink
1860  6 Pack Soft Drink
2713  6 Pack Soft Drink
...                 ...
2384  Veggie Soft Tacos
781   Veggie Soft Tacos
2851  Veggie Soft Tacos
1699  Veggie Soft Tacos
1395  Veggie Soft Tacos

[4622 rows x 1 columns]

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [33]:
chipo[chipo["unit_price"] == chipo["unit_price"].max()]["quantity"].unique()

array([2, 1])

In [30]:
# Ordenamos el DataFrame chipo por precio de forma descendente
chipo_sorted = chipo.sort_values('unit_price', ascending=False)

#Obtenemos la cantidad del primer artículo (el más caro)
cantidad_mas_caro = chipo_sorted.iloc[0]['quantity']

print(f"La cantidad del artículo más caro ordenado es: {cantidad_mas_caro}")

La cantidad del artículo más caro ordenado es: 1

In [34]:
#Encontramos el índice del artículo más caro
indice_mas_caro = chipo['unit_price'].idxmax()

#Obtenemos la cantidad del artículo más caro
cantidad_mas_caro = chipo.loc[indice_mas_caro, 'quantity']

print(f"La cantidad del artículo más caro ordenado es: {cantidad_mas_caro}")

La cantidad del artículo más caro ordenado es: 2

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [35]:
resultado = chipo[chipo['item_name'] == 'Veggie Salad Bowl']['quantity'].sum()
print(f'La cantidad de veces que se ha pedido Veggie Salad Bowl fueron: {resultado}')

La cantidad de veces que se ha pedido Veggie Salad Bowl fueron: 18

### Step 9. How many times did someone order more than one Canned Soda?

In [39]:
rest = chipo[(chipo["item_name"] == "Canned Soda") & (chipo["quantity"] > 1)]["quantity"].shape[0]
print(rest)

20