# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [44]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")
print(chipo)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

### Step 3. Name of the max valued product

In [45]:
chipo["item_name"].max()

'Veggie Soft Tacos'

### Step 4. How many products cost more than $10.00?

In [46]:
#Convertimos "item_price" a numérico
#Asumiendo que 'item_price' está en formato '$X.XX'
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

numero_productos = chipo[chipo['item_price'] > 10.00].shape[0]

print(f"Hay {numero_productos} productos que cuestan más de 10.00$")

Hay 1130 productos que cuestan más de 10.00$

### Step 4.1: Y cuántos pedidos se han hecho con un producto de más de 10$? Es lo mismo?

In [47]:
pedidos_producto = chipo[chipo['item_price'] > 10.00]['order_id'].unique()

#Contamos cuántos pedidos únicos hay
numero_de_pedidos = len(pedidos_producto)

print(f"Se han hecho {numero_de_pedidos} pedidos con al menos un producto que cuesta más de 10.00$")

Se han hecho 863 pedidos con al menos un producto que cuesta más de 10.00$

### Step 4.2: Y cuántos pedidos se han hecho de más de 10$? Es lo mismo?

In [48]:
pedidos_grupo = chipo.groupby('item_name')['item_price'].sum().reset_index()
pedidos_mayores_a_10 = pedidos_grupo[pedidos_grupo['item_price'] > 10.00]
cantidad_pedidos_mayores_a_10 = pedidos_mayores_a_10.shape[0]
print(f'Cantidad de pedidos con un total mayor a 10.00$: {cantidad_pedidos_mayores_a_10}')

Cantidad de pedidos con un total mayor a 10.00$: 47

### Step 4.3: Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? Es lo mismo?

In [50]:
#Calculamos el total pagado por cada producto en cada pedido
chipo['total_product'] = chipo['item_price'] * chipo['quantity']

#Filtramos los pedidos donde se pagó más de $10 por un producto
pedidos_producto_mas_10 = chipo[chipo['total_product'] > 10]['order_id'].unique()

#Contamos cuántos pedidos únicos cumplen esta condición
numero_pedidos = len(pedidos_producto_mas_10)

print(f"En {numero_pedidos} pedidos se ha pagado más de 10$ por un mismo producto")

En 889 pedidos se ha pagado más de 10$ por un mismo producto

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [55]:
resultado = chipo[["item_name","item_price"]].rename(columns={'item_price':'unit_price'})
print(resultado)

                                  item_name  unit_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [59]:
chipo[["item_name"]].sort_values(by="item_name")

              item_name
3389  6 Pack Soft Drink
341   6 Pack Soft Drink
1849  6 Pack Soft Drink
1860  6 Pack Soft Drink
2713  6 Pack Soft Drink
...                 ...
2384  Veggie Soft Tacos
781   Veggie Soft Tacos
2851  Veggie Soft Tacos
1699  Veggie Soft Tacos
1395  Veggie Soft Tacos

[4622 rows x 1 columns]

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [60]:
# Ordenamos el DataFrame chipo por precio de forma descendente
chipo_sorted = chipo.sort_values('item_price', ascending=False)

#Obtenemos la cantidad del primer artículo (el más caro)
cantidad_mas_caro = chipo_sorted.iloc[0]['quantity']

print(f"La cantidad del artículo más caro ordenado es: {cantidad_mas_caro}")

La cantidad del artículo más caro ordenado es: 15

In [61]:
#Encontramos el índice del artículo más caro
indice_mas_caro = chipo['item_price'].idxmax()

#Obtenemos la cantidad del artículo más caro
cantidad_mas_caro = chipo.loc[indice_mas_caro, 'quantity']

print(f"La cantidad del artículo más caro ordenado es: {cantidad_mas_caro}")

La cantidad del artículo más caro ordenado es: 15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [64]:
resultado = chipo[chipo['item_name'] == 'Veggie Salad Bowl']['quantity'].sum()
print(f'La cantidad de veces que se ha pedido Veggie Salad Bowl fueron: {resultado}')

La cantidad de veces que se ha pedido Veggie Salad Bowl fueron: 18

### Step 9. How many times did someone order more than one Canned Soda?

In [70]:
rest = chipo[(chipo["item_name"] == "Canned Soda") & (chipo["quantity"] > 1)]["quantity"].sum()
print(rest)

42